# --- Python 관련 ---
.venv/
__pycache__/
*.py[cod]

# --- 환경 변수 (보안 중요!) ---
.env

# --- Airflow 관련 ---
# 1. 자동 생성된 설정 및 메타데이터 제외
airflow/*.cfg
airflow/*.db
airflow/*.log
airflow/logs/
airflow/airflow-webserver.pid
*_password.txt
airflow/webserver_config.py

# 2. 하지만 내가 짠 코드(DAGs)는 포함해야 함!
# 만약 airflow/dags/ 폴더에 코드를 짠다면 아래처럼 예외 처리를 할 수 있습니다.
!airflow/dags/