# Python
.venv/
__pycache__/
*.py[cod]

# Mac
.DS_Store

# credentials
.env

# data
*.json
*.xml
*.csv

# Airflow
# 1. 자동 생성된 설정 및 메타데이터 제외
airflow/*.cfg
airflow/*.db
airflow/*.log
airflow/logs/
airflow/airflow-webserver.pid
*_password.txt
airflow/webserver_config.py

# 2. 예외처리(DAGs)
!airflow/dags/

# tests
test_*.py